#navbarlogout {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


#navbarlogin {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#error {
    color: red;
}